/** 清除边距 **/
* {margin:0;padding:0;}
/** 字体设置 **/
body,
button,input,select,textarea/* for ie */{font:12px/1.5 Verdana , Arial, Helvetica, sans-serif; color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,em,i{font-style:normal;} 
/*去除元素轮廓---fbx---*/
div,table,form,input,button,select,textarea,fieldset,legend{outline:none;}/* for google / safari*/
/** 重置列表元素 **/
ul,ol{list-style:none outside none;}
/** 重置链接元素 **/
a{text-decoration:none; color:#06A0E4; cursor: pointer;outline:none;}
a:hover{text-decoration: underline;}
/** 重置表单元素 **/
img{border:0;} /* img 搭车：让链接里的 img 无边框 */
button,input,select,textarea {font-size:100%;} /* 使得表单元素在 ie 下能继承字体大小 */
/** 重置元素垂直居中 **/
img,input,select,textarea,button,i{vertical-align:middle;}

/** 字体设置 **/
.bigFont{font-size:14px;}
.normalFont{ font-size:12px!important; font-family:"宋体"!important;font-weight: normal;}
.font18{font-size:18px;}
.imFs{font-family:'宋体';}

/** 文字对齐方式设置 **/
.textRt{text-align:right!important;}
.textLt{text-align:left!important;}
.textCt{text-align:center!important;}

/** 清除边框，清除边距 **/
.nobor{border:none!important;}
.nomargin{margin:0!important;}
.nobg{ background:none!important;}


/******************** 新首页 *******************/
.index_commnet{
	width: 100%;
	height: 50px;
	border: 1px solid
}
.index_T{
	text-align: center;
	font-family:"microsoft yahei";
	padding: 42px 0;clear: both;
}
.index_T h1{
	display: block;
	font-size: 44px;
	font-weight: normal;
	line-height: 44px;
	color: #445566;
	margin-bottom: 15px;
}
.index_T span{
	display: block;
	font-size:18px;
	color: #959ea7;
	
}
.vedio_column,
.comment_column{
	width: 50%;
	float: left;
	position: relative;
	text-align: center;
	color: #fff; 
	font-family:"microsoft yahei";
}
.vedio_column img{
	width:100%;
}
.icon_vedio{
	background-position:center -375px;
	width:64px;
	height:64px;
	display:block;
	position: absolute;
	top:0;
	left: 50%;
	margin-left: -32px;
}
.vedio_uper{
	position: absolute;
	top:50%;
	margin-top: -65px;
	padding-top: 96px;
	font-size: 36px;
	color: #fff;
	display: block;
	width: 100%;
}
.vedio_uper:hover{
	text-decoration: none;
}
.content_v2{
	width: 1240px;
	margin: 0 auto;
}
.xz_ads li{
	float: left; 
	border-right: solid 1px #ECF0F1;
	padding: 30px 60px;
	position:relative;
}
.xz_ads li span{
	background:url("../img/xz_index.png"); 
	width: 188px;
	height: 152px;
	display: inline-block;
}
.xz_ads li span.xzindexad2{
	background-position:0 -162px;
}
.xz_ads li span.xzindexad3{
	background-position:0 -324px;
}
.xz_ads li span.xzindexad4{
	background-position:0 -486px;
}
a.ads_hover,a.room_hover{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index:9;
	 background-image:url(about:blank);
	 filter:alpha(opacity=0);
	}
a.ads_hover:hover,
a.room_hover:hover{
	position: absolute;
	display: inline-block;
	left: 0;top: 0;
	width: 100%;
	height: 100%; 
	border: solid 1px #ddd ;
	-webkit-box-shadow: 0 0 6px #bbb;
	-moz-box-shadow: 0 0 6px #bbb;
	box-shadow: 0 0 6px #bbb;z-index:9;
}
a.room_hover:hover{
	left: -10px;
	top: -10px; 
	padding: 10px;
}
.img_user_fd { 
	width: 50px; 
	height: 50px; 
	border: solid 2px #fff;
	 -webkit-border-radius: 27px;
	  -moz-border-radius: 27px; 
	  border-radius: 27px;
}
.comment_user{
	font-size: 24px;
	margin-bottom: 25px;
}
.comment_W{
	height: 163px;
	 padding-top:15px;
	 text-align: left;
}
.comment_W a{color: #fff;}
.comment_W a:hover{
	color: #fff;
	text-decoration: none;
}
.middle_line{
	border-right: solid 1px #7d7d7d;
	height: 237px;
	position: absolute;
	right: 0;top: 163px;
}
.cmt_R{
	padding-left: 87px;float: left;
}
.cmt_ul{
	width:230px;
	margin: 0 auto 50px;
}
.cmt_ul li {
	width: 40px;
	height: 6px;
	background-color:#fff;
	display: inline-block;
	margin-right: 6px;
	vertical-align: bottom;
	cursor: pointer;
}
.cmt_ul li.cmt_current,
.cmt_ul li:hover{
	background-color:#F05B72;
}
.rooms_show_ul li{
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
}
.img_upCover{
	background: #000;
	filter:alpha(opacity=20);
	 -moz-opacity:0.2; 
	 opacity: 0.2;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 400px;
	 height: 326px;
	 display: inline-block;
}
.rooms_intro{
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 400px;
	font-family:"microsoft yahei"; 
	font-size: 18px;color: #fff;
}
.city_top{top: 0;}
.img_room{width: 400px;height: 326px;}
.room_name{
	width: 354px;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px 0;
}
.index_price { 
	width: 90px; 
	height: 30px; 
	line-height: 30px; 
	background-color: #000; 
	filter: alpha(opacity=60); 
	-moz-opacity: 0.6;
	opacity: 0.6; 
	display: inline-block;
	color: #fff;
}
.city_big{width:820px;}
